body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 40px;
  background: #020617;
}

.projects {
  padding: 40px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card a {
  color: #38bdf8;
  text-decoration: none;
}
